@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

body{
    font-family: Belanosima;
    background-color: darkred;
    color:rgb(255, 140, 0);
    text-align: center;
    padding-top: 10rem;
}

#pokemonInput{
    color:goldenrod;
    background-color: darkblue;
    border-color: goldenrod;
    border-radius: 10px;
}

button{
    color:goldenrod;
    font-weight: 800;
    background-color: white;
    border-radius: 10px;
}

#container{
    background-color: grey;
    border: 4rem;
    color: goldenrod;
    border-radius: 4rem;
    max-width: 67%;
}
